
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Common Style or Utilitis */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding:0px;
}
/* Top Header styles */

.header-container{
   background-color:  #2D25A0;
   width: 1440px;
   height: 677px;  
   
 
}

 /* Navbar Section Styles */
 .nav{
     width: 587px;
     height: 24px ;
     margin-left: 156px;
     margin-top: 40px;
    
 }
.nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 8px;
    margin-right: 12px;

}

.nav-anchor{
    background-color:#E02C6D;
    
}
 .nav a :hover{
    background-color: tomato;
    padding: 8 8px;
}

/* Site Banner Section  */

.site-banner{
    display: flex;
   
 
}
 /* Site Banner Headign  */
h1 {
    font-size: 64px;
    color: white;
    font-weight: bold;
    line-height: 80px;
    width: 485px;
    height: 230px;
    margin-top:207px;
   margin-left: 156px;
    
    
}
.anchor-button{
    text-decoration: none;
    background-color:#E02C6D; 
    padding:10px 40px;
    border-radius:5px;
    color: white;
    font-weight: 700;
    width: 88px;
    height: 24px;
    font-size: 16px;
  }

  /* Site Banner Image */
.site-banner img{
    width: 388px;
    height: 428px;
    margin-top: 49px;
    margin-left: 102px;
    padding-left: 84px;
    padding-top: 18px;
    padding-right: 84.01px;

    
}
/* effect  */
.site-banner img{
    transition: transform 0.2s;
}
.site-banner img:hover{
transform: rotate(-45deg);
transform-origin: top,right;

}