
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Common Style or Utilitis */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding:0px;
}
/* Top Header styles */

.header-container{
   background-color:  #2D25A0;
   

}

 /* Navbar Section Styles */
 .nav{

    display: flex;
    justify-content: space-between;
     margin-left: 50px;
     padding-top: 30px;
    
    
     

 }
.nav a{
    text-decoration: none;
    color: white;
    font-size: 22px;
     padding:12px 12px;
     margin-right: 10px;
    
    /* margin-top: 52px; */


}
 .nav  :hover{ 
     color:#E02C6D;
 }

.nav-anchor{
    
    background-color:#E02C6D; 
    text-decoration:none;
    
}
.nav-anchor:hover{
    background-color: rgb(11, 11, 145);
}

/* Site Banner Section  */

.site-banner{
    display: flex;
}
 /* Site Banner Headign  */
.heading-text {
    font-size: 50px;
    color: white;
    font-weight: bold;
    line-height: 80px;
    /* width: 485px;
    height: 230px; */
    margin-top:100px;
   margin-left: 50px; 
}
.anchor-button{
    text-decoration: none;
    background-color:#E02C6D; 
    padding:10px 40px;
    border-radius:5px;
    color: white;
    font-weight: 700;
    width: 88px;
    height: 24px;
    font-size: 16px;
  }
  .anchor-button:hover{
      color: blue;
  }

  /* Site Banner Image */
.sidebar img{
    /* width: 388px;
    height: 428px;
    margin-top: 49px;
    margin-left: 102px;
    padding-left: 84px;
    padding-top: 18px;
    padding-right: 84.01px;   */
    width: 80%;
   padding-top: 25px;
   margin-bottom:35px;
    
}
/* effect  */
.sidebar img{
    transition: transform 0.2s;
}
.sidebar img:hover{
transform: rotate(-45deg);
transform-origin: top,right;

}

/* Player Section  */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-container{
width: 1050px;
height: 474px;
margin-top: 120px;
display: grid;
grid-template-columns: repeat(3,1fr);

}

.players{
    border: 1px solid white;
    background: #FFFFFF;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 8px 8px;
    /* width: 300px; */
   /* left: calc(50% - 300px/2);
   top: 0%; */
   margin-bottom: 80%;

    
}

.player img{
    width:30%;
}
.player-name{
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}

/* All Highlishts section */


.highlishts-container{
display: flex;
/* flex-direction: row; */
/* align-items: flex-end; */
/* padding: 10px 24px;; */
margin-top:224px;
 
}
 /* Site Banner highlishts  */
 .haif-width{
     width:50%;
 }
 .highlishts-heading{
    font-size: 40px;
    color:black;
    font-weight: bold;
    line-height: 45px;
   margin-left: 156px;
   
    
    
}
.highlishts-heading p {
    font-size: 12px;
    line-height: 15px;
    padding:15px;
}


  /* Site highlishgts  Image */
.highlishts-container img{
    
    margin-top: 49px;
    margin-left: 69px;
    margin-right: 50px;
}

/* footer section */

.footer{
    margin-left: 475px;
    margin-right: 481.3px;
    margin-top: 158px;
}
.footer img{

width: 483.87px;
height: 213px;

}
.footer-social {
    display: inline-flex;
    flex-wrap: wrap;
    gap:5px;
    margin-left: 631px;
    padding-bottom: 15px;
    margin-right: 12px;
}
.footer p{
    text-align: center;
    font-size: 20px;
} 
 /* Media Query  */
@media  (max-width:688px){

  .nav{
      display: inline-block;
  }
    .nav a{
        display: inline;
        font-size: 12px;
        padding: 5px;
    }
    .site-banner{
        flex-direction: column;
    }
    .heading-tex{
   font-size:36px;
   
   }
    .highlishts-container{
       flex-direction: column;
    }
    .highlishts-heading{
        /* margin-left:50px; */
        font-size:15px;
    }
  }     

 